body{
 background-color: #f3f3f3;	
}

#home {
  margin-top: 5%;
  height: 600px;
  background-image: url("/images/logo-learning-log.png");
  background-repeat: no-repeat;
  border: 3px solid #cccccc;
  border: solid thick #ccccc;
  border-radius: 1em; 
}

#topo {
	width: 100%;
	height: 50px;
	background-color: black;
}

#rodape {
	width: 100%;
	height: 80px;
	background-color: black;	
	position: absolute;
	bottom:0;
}

